In [20]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind, levene, shapiro, iqr,mannwhitneyu
from statsmodels.stats.power import ttest_power
import numpy as np
%matplotlib inline
import scipy
import math
from scipy import stats
from statsmodels.stats import weightstats as stests

In [24]:
df=pd.read_csv('blood_pressure.csv')

In [25]:
df.shape

(120, 5)

In [26]:
df.head(10)

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141
5        6  Male  30-45        150       147
6        7  Male  30-45        148       133
7        8  Male  30-45        153       141
8        9  Male  30-45        153       131
9       10  Male  30-45        158       125

In [27]:
#the data set is independent dataset as both the samples are subjected to same test and we can get 2 diff samples from the data set
df.describe()

          patient   bp_before    bp_after
count  120.000000  120.000000  120.000000
mean    60.500000  156.450000  151.358333
std     34.785054   11.389845   14.177622
min      1.000000  138.000000  125.000000
25%     30.750000  147.000000  140.750000
50%     60.500000  154.500000  149.500000
75%     90.250000  164.000000  161.000000
max    120.000000  185.000000  185.000000

In [29]:
#p values greater than 0.05 percent so current_val is normally distributed
shapiro(df['bp_before'])

(0.9547787308692932, 0.0004928423441015184)

In [30]:
#p values greater than 0.05 percent so new_val is normally distributed
shapiro(df['bp_after'])

(0.9740639328956604, 0.020227791741490364)

In [32]:
##p values greater than 0.05 percent so population variances are equal
levene(df['bp_before'], df['bp_after'])

LeveneResult(statistic=4.863729003161597, pvalue=0.028383666362347747)

In [34]:
t,p=ttest_ind(df['bp_before'], df['bp_after'])

In [36]:
#since p value is greater than 0.05, accept NULL hypothesis i.e average distances travelled by both the samples are equal
print(t,p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

3.0669836819036274 0.002412277478078891
reject null hypothesis

In [37]:
ztest ,p1 = stests.ztest(df['bp_before'], x2=df['bp_after'], value=0,alternative='two-sided')
print(float(p1))

0.002162306611369422

In [33]:
#The above statistics result concludes that p valule is less than 0.05 ,reject null hypothesis.